html {  
    scroll-behavior: smooth;  
}
/* ID's */

#body {
    margin: 0;
    font-family: 'Arsenal', sans-serif;
    font-family: 'Dongle', sans-serif;;
}
#main{
    border: 1px solid black;
    width: auto;
    margin: 0;
    height: 2730px;
    background-image: linear-gradient(#9e9e9e, #273036);
    width: 100%;
    
}

#first-page{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/109/664/851/black-texture-wallpaper-preview.jpg');
    background-size: cover;

    width: 100%;
    height: 900px;
}
#second-page{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/109/664/851/black-texture-wallpaper-preview.jpg');
    background-size: cover;
    width: 100%;
    height: 920px;
}

#third-page{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/109/664/851/black-texture-wallpaper-preview.jpg');
    background-size: cover;
    width: 100%;
    height: 920px;
}
#first-pageoutline{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(#9e9e9e, #273036);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#second-pageoutline{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(#273036, #6b6b6b);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#third-pageoutline{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(#9e9e9e, #273036);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#nav-bar{
    width: 100%;
    height: 80px;
    position:fixed;
    display: inline-block;
    justify-content: space-around;
}
#nav-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    margin-left: 870px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#my-pic{
    border: 1px solid black;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-top: 50px;
    background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t39.30808-6/273769724_4795165370551322_2418480384812829365_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_ohc=HsDfw_x0UC4AX9eh35D&_nc_ht=scontent-lax3-2.xx&oh=00_AT-zsPdJ8E_lYh4rdeyUhDaWC0xaiKlqiTpo19cEIv2R6w&oe=62B9D713");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#my-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#who-ami{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#my-name{
    font-size: 40px;
    margin-top: 0;
}
#skills-projects{

    width: 70%;
    height: 100%;
}
#skills-area{
    width: 90%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
#project-side{
    width: 30%;
    height: 100%;
}
#photo3{
    margin-top: 10px;
    background-image: url(/assets/tamagotchi.png);
    background-size:cover;
    background-position-x: center;
}
#photo3:hover{
    background-image: url(/assets/tamagotchi.png);
    background-size:cover;
    width: 300px;
    height: 300px;
}
#skills-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-area{
    width: 500px;
    height: 750px;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgb(121, 121, 121), #ffffff);
    border-radius: 20px;
    

}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#message{
height: 150px;
    
}
#social-media{
}
#find-me{
    margin-left: 35px;
}
#firstwave{
    width: 1400px;
    margin-left: 164px;
}

#submit{
    margin-top: 10px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
}
/* CLASSES */

.nav-bar-id{
    padding: 20px;
    list-style: none;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 35px;
    padding-bottom: 10px;
    
}
.nav-bar-id:hover{
    background-image: linear-gradient(#575757, #9e9e9e);
    opacity: 0.6;

}
.nav-links{
    text-decoration: none;
    color: black;
    
}
.nav-links:hover{

    
}
.first-half{

    height: 80%;
    width: 50%;
}
.my-text{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
}
.pic-box{
    width: 170px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.project-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.skills-desc{
    margin-left: 50px;
}
.format{
    margin-bottom: 20px;
}
.input{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}
.input-labels{
    font-size: 25px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.hide{
    display: none;
}

